.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.red-1 {
  color: #ff0000;
}

.red-2 {
  color: #a82626;
}

.red-3 {
    color: #7a1f1f;
}
